body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.logo-header {
    width: 150px;
    padding: 10px;
    margin-left: 7px;
    margin-right: 20px;
}

.head-btn {
    border: none;
    padding: 18px 25px;
    margin: 0px 7px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.head-btn:hover {
    background-color: rgb(242, 252, 255);
    box-shadow: 0.1px 0.1px 5px rgb(206, 206, 206);
}

.logout-btn {
    border: none;
    padding: 15px 25px;
    margin: 0px 7px;
    background-color: rgb(252, 198, 198);
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
.logout-btn:hover {
    border: none;
    padding: 15px 25px;
    margin: 0px 7px;
    background-color: rgb(255, 169, 169);
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

.alert-logout {
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
    font-weight: bold;
  }

#container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    gap: 25px;
    margin-bottom: 20px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(128, 104, 238);
    margin-bottom: 10px;
    width: 100vw;
}

a {
    text-decoration: none
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 4px 2px 8px black;
}

h2 {
    font-weight: 800;
    margin-left: 1%;
}

h3 {
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 1%;
    font-size: 20px;
}

.h4,h5 {
    margin: 10px 0px;
    font-weight: bold;
}

.form-personal, .form-school {
    border: solid 1px;
    border-radius: 7px;
    min-width: 500px;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 0.5% 2%;
    background-color: white;
    border: none;
    box-shadow: 0.1px 0.5px 5px rgb(131, 131, 131);
}

.form-personal1, .form-personal2, .form-personal3, .form-personal4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    align-items: start;
    margin-bottom: 10px;
}

.form-school1, .form-school2, .form-school3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    align-items: start;
    margin-bottom: 10px;
}

.form-school4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    align-items: start;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 12vh;
}


label {
    font-size: 16px;
    margin-left: 3px;
    font-weight: bold;
}

.submit {
    border: none;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(103, 230, 91);
    width: 120px;
    height: 50px;
    padding: 10px 10px;
}

.submit:hover {
    background-color: rgb(146, 231, 138);
}

.submit:active {
    background-color: rgb(190, 240, 187);
}

.reset {    
    border: none;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(255, 120, 86);
    width: 120px;
    height: 50px;
    padding: 10px 10px;
}

.reset:hover {
    background-color: rgb(248, 147, 122);
}

.reset:active {
    background-color: rgb(252, 182, 164);
}


input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    font-size: 14px;
    font-family: montserrat;
    font-weight: 500;
    color: gray;   
}

input:hover {
    background-color: rgb(219, 219, 219);
}

select {
    padding: 10px;
    border: none;
    border-radius: 5px;    
    background-color: rgb(247, 247, 247);
    font-family: montserrat;
    font-weight: 500;
    font-size: 14px;
    color: gray; 
}

.content_form {
    padding: 5px;
}

#nome_aluno {
    width: 300px;
}

#data_nascimento {
    width: 200px;
}

#cpf {
    width: 200px;
}

#cor {
    width: 200px;
}

#sexo {
    width: 230px;
}

#contato {
    width: 200px;
}

#filiacao1 {
    width: 220px;
}

#filiacao2 {
    width: 220px;
}

#restricao_alimentar {
    width: 230px;
}

#deficiencia {
    width: 200px;
}

#zona_escola {
    width: 150px;
}

#escola {
    width: 250px;
}

#modalidade {
    width: 200px;
}

#etapa {
    width: 200px;
}

#serie_ano, #turma, #turno {
    width: 150px;
}

#transporte, #defasagem {
    width: 220px;
}